__pycache__/
*.pyc
*.log
.env
*.swp
.idea/
bkp_log
favicon.ico
r2.json
lanzou.json
apache2.conf
venv/
lanzou
lanzou/
hitomiv2.py
archived_documents/
.claude/
hitomi_js
thumbnail/
auth.json
documents.db